{%extends 'base.html'%}
{%block content%}
<h2>About DigiLife</h2>
<p>DigiLife is a productivity web application built to help individuals manage their tasks and stay organized. 
    It provides a simple interface for creating, tracking, and completing daily tasks. 
    The goal of DigiLife is to make task management easy and efficient, allowing users to focus on what matters 
    most while keeping their responsibilities organized, and also be able to maintain their data and access them through any device and anywhere.</p>

<h2>The Developer</h2>
<p>DigiLife was developed by Abel Istifanus, a web developer focused on building practical and useful web applications using technologies like Python, Flask, HTML, CSS, and JavaScript.</p>
{%endblock%}