{%extends 'base.html'%}

{%block content%}
<div>
    <p style="text-align: center; background-color: aqua;">Change your password</p>
    <form action="/change_password" method="POST">
        <div>
            <input class="form-control" type="password" name="old" placeholder="enter old password">
            <input class="form-control mt-1" type="password" name="new" placeholder="enter new password">
            <input class="form-control mt-1" type="password" name="confirm-new" placeholder="confirm new password"> 
            <button class="btn btn-success col-12">Submit</button>   
        </div>
        
    </form>
</div>

{%endblock%}