{%extends 'base.html'%}

{%block content%}
<div >
    <p  style="text-align: center; background-color: aqua;">Register Acount</p>

    <form method="POST">
        <div>
            <input class="form-control" type="text" name="username" placeholder="username">
            <input class="form-control mt-1" type="text" name="email" placeholder="email">
            <input class="form-control mt-1" type="password" name="password1" placeholder="password1">
            <input class="form-control mt-1" type="password" name="password2" placeholder="password2">
            <button class="btn btn-success col-12 mt-1">Create Acount</button>
        </div>
           
    </form>


</div>


{%endblock%}